@import url("https://fonts.googleapis.com/css2?family=Barrio&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap");

#userguess {
  display: none;
}

h1 {
  text-align: center;
  padding-top: 50px;
}

#value-entry,
#Play,
#userguess {
  text-align: center;
}

#value-entry,
#userguess {
  padding: 10px;
  margin: 45px;
}

body {
  background-color: #161700; 
  /* background-color:#010017;  */
}

.same_col{
  color : #979b00;
}
h1 {
 
  font-size: 75px;
  font-family: Barrio;
}

h2 {

  /* background-color: blue  ; */
  font-family: Barrio;
}

label {
  font-family: Kirang Haerang;
  font-size: 25px;
  
}

/* h1:hover {
  font-size: 100px;
  transition-duration: 0.5s;
} */
#Play button {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  margin: 10px;

}
